{% load static %}

<footer>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-offset-2 col-lg-3">
					<h3>Преимущества</h3>
					<ul>
						<li>5 лет на рынке</li>
						<li>Болие 5000 проданых товаров</li>
						<li>27 магазинов по Украине</li>
					</ul>
				</div>

				<div class="col-lg-3">
					<h3>Качество</h3>
					<ul>
						<li>Все товары оригинальные</li>
						<li>Быстрый и удобный сервис</li>
						<li>Гарантия до 2-х лет</li>
					</ul>
				</div>
				<div class="col-lg-2">
					<h3>Наши контакты</h3>
					<ul>
						<li>+380958342435</li>
						<li>+380958342435</li>
						<li>+380958342435</li>
					</ul>
				</div>
			</div>
			<div class="row" id="map">
				<div class="col-lg-12">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10162.673544602912!2d30.4461914!3d50.447277199999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sua!4v1520013558793" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="row" id="social_netvork">
				<div class="col-lg-offset-5 col-lg-1" >
					<a href="https://www.facebook.com/mishka.golota"><img src={% static 'img/facebook.png' %} alt="" width="66%" ></a>
				</div>
				<div class="col-lg-1">
					<a href="https://t.me/goooolota"><img src={% static 'img/telegram.png' %} alt="" width="66%" ></a>
				</div>
				<div class="col-lg-1">
					<a href="https://t.me/goooolota"><img src={% static 'img/vk.png' %} alt="" width="66%" ></a>
				</div>
			</div>
			<div class="row" id="copyright">
				<div class="col-lg-offset-5 col-lg-5">
					<span style="text-align: center;margin-left:12%;">@ 2018 Copyright Text </span>
				</div>

			</div>
		</div>

	</footer>